{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Cette voiture n'est plus disponible</h1>
    </div>
{% endblock %}